body{
	background-color: aqua;
	font-family: 'Calibri';
	font-size: 16px;
	color: #010301;
}

.judul-website {
	font-size: 72px;
	text-transform: uppercase;
}

hr{
	border: 0;
	height: 1px;
	border-bottom: 1px solid #ce29ba;
}

img{
	margin-top: 20px;
	border-radius: 8px;
}

.deskripsi {
	font-size: 13px;
	font-style: italic;
}

.sub-judul{
	border-top: 1px dotted;
	padding-top: 10px;
	font-style: bold;
}

ol {
	list-style-type: upper-alpha;
}

ul{
	list-style-type: square;
}

table {
	border-collapse: collapse;
}

td, th{
	padding-left: 10px;
	padding-right: 10px;
}

td:last-child {
	text-align: right;
}

th {
	color: aqua;
	background-color:#010301;
}

a:link,	a:visited {
	color: #0103a1;
	text-decoration: none;
}

nav > ul {
	list-style-type: none;
	padding: 0;
	box-shadow: 0 10px 28px rgba(0, 0, 0, 0,8);
	display:inline-block
	border-radius: 8px;
}

nav li {
	background-color: purple;
	display: inline-block;
	padding: 8px 16px;
}

nav li:first-child {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

nav li:last-child  {
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

a:hover {
	color: red;
}

nav li:hover {
	background-color: white;
}

nav {
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 0 16px;
	width: 100%;
}









